{% load static %}
<div class="col-md-4 col-sm-6">
  <div class="single-package-item " style="height: 450px;">
    <img src="{% static 'images/packages/final.jpeg' %}" alt="package-place" style="width: 1500px; height: 450px;padding: 10px;">
    <div class="single-package-item-txt ">
      <!--<h3 style="color: #3A3B3C;">kerala </h3>
      <div class="packages-para">
        <p>
          
          <h3 style="color: #00BFFF;"> 15 Tour packages</h3>
          
        </p>-->
      
          
    </div><!--/.single-package-item-txt-->
  </div><!--/.single-package-item-->

</div><!--/.col-->
</div>

<div class="col-md-4 col-sm-6">
      
        <p>
          
          <h3 style="color: #00BFFF; font-size: 32px; font-family: 'Times New Roman', Times, serif; text-align: center;">Tour packages</h3>
          
        </p>
      
          
    </div><!--/.single-package-item-txt-->
  </div><!--/.single-package-item-->

</div><!--/.col-->
</div>


  <div style="width: 25%; float:left; margin: 5px; background-color:#e2fdff; height: 340px; width:1500px;">
    <img src="{% static '/images/packages/rajhotel.jpg' %}" style="float:left; padding:10px;"alt="package-place" height="300px" width="500px">
   <p style="float: left; padding-top: 10px; padding-bottom: 0px;"><b>Name:</b> samode Haveli Hotel </p>
   <p style="padding-top: 45px;" ><b>Description:</b>Built over 175 years ago within the city of Jaipur as the royal family manor, Samode Haveli reflects the style and elegance of the royals. A special feature of the Haveli is the elephant ramp. It features an outdoor swimming pool and a spa and health club.</p>
   <p><b>Location:</b>Jorawar Singh Gate, Gangapole Road Near, Gangapole, Jaipur,Rajasthan</p>
   <p><b>Prize:</b> ₹15000</p>
   <p><b>Faculities included:</b></p>
   <p>free wifi   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; outdoor pool  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; free parking &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" style="background-color: #4169E1; height: 120pxpx; width: 180px; font-size: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Book now</button></p>
   <img src="{% static '/images/gallary/free-wifi (1).png' %}"alt="package-place" height="50px" width="50px">
   
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<img src="{% static '/images/gallary/swimming (1).png' %}"alt="package-place" height="50px" width="50px">
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<img src="{% static '/images/gallary/free-parking.png' %}"alt="package-place" height="50px" width="50px">
   
  </div>
  <div style="width: 25%; float:left; margin: 5px; background-color:#bdd5ea; height: 340px; width:1450px;">
    <img src="{% static '/images/packages/raj2.jpg' %}" style="float:left; padding:10px;"alt="package-place" height="300px" width="500px">
   <p style="float: left; padding-top: 10px; padding-bottom: 0px;"><b>Name:</b> samode Haveli Hotel </p>
   <p style="padding-top: 45px;" ><b>Description:</b>Khimsar Fort is located near Khinvsar village, in the Nagaur district of Rajasthan in India, halfway between Jodhpur and Nagaur, on the eastern edge of the Thar Desert. The fortress was built in 1523 by Rao Karamsji, the 8th son of Rao Jodha of Jodhpur. Aurangzeb use to stay here while in Nagaur.</p>
   <p><b>Location:</b>Khimsar Village, Rajasthan</p>
   <p><b>Prize:</b> ₹10000</p>
   <p><b>Faculities included:</b></p>
   <p>free wifi   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; outdoor pool  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; free parking &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" style="background-color: #4169E1; height: 120pxpx; width: 180px; font-size: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Book now</button></p>
   <img src="{% static '/images/gallary/free-wifi (1).png' %}"alt="package-place" height="50px" width="50px">
   
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<img src="{% static '/images/gallary/swimming (1).png' %}"alt="package-place" height="50px" width="50px">
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<img src="{% static '/images/gallary/free-parking.png' %}"alt="package-place" height="50px" width="50px">
   
  </div>
  <div style="width: 25%; float:left; margin: 5px; background-color:#e2fdff; height: 340px; width:1450px;">
    <img src="{% static '/images/packages/raj3.jpg' %}" style="float:left; padding:10px;"alt="package-place" height="300px" width="500px">
   <p style="float: left; padding-top: 10px; padding-bottom: 0px;"><b>Name:</b> Radisson Blu Jaipur </p>
   <p style="padding-top: 45px;" ><b>Description:</b>Radisson Jaipur City Center is the perfect venue for your next corporate meeting or family celebration. Our hotel offers best-in-class banqueting facilities for up to 1,000 people and boasts six versatile meeting rooms with amenities like audiovisual equipment and free Wi-Fi. </p>
   <p><b>Location:</b>Airport Plaza, Plots No. 5 And 6, Tonk Rd, Jaipur, Rajasthan 302018</p>
   <p><b>Prize:</b> ₹3240</p>
   <p><b>Faculities included:</b></p>
   <p>free wifi   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; free parking &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <button type="button" style="background-color: #4169E1; height: 120pxpx; width: 180px; font-size: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Book now</button></p>
   <img src="{% static '/images/gallary/free-wifi (1).png' %}"alt="package-place" height="50px" width="50px">
   
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<img src="{% static '/images/gallary/free-parking.png' %}"alt="package-place" height="50px" width="50px">
   
  </div>

  <div style="width: 25%; float:left; margin: 5px; background-color:#bdd5ea; height: 340px; width:1450px;">
    <img src="{% static '/images/packages/raj4.jpg' %}" style="float:left; padding:10px;"alt="package-place" height="300px" width="500px">
   <p style="float: left; padding-top: 10px; padding-bottom: 0px;"><b>Name:</b> samode Haveli Hotel </p>
   <p style="padding-top: 45px;" ><b>Description:</b>A majestic tribute to the deep-rooted culture and heritage of Marwar, The Ummed Jodhpur Palace Resort & Spa is a place where time stands still and where each day is a new celebration. Nestled in the dramatic natural beauty of lush green gardens, the 28-acre five star palace resort is an architectural masterpiece of India’s most celebrated architects, Hafeez Contractor.</p>
   <p><b>Location:</b>Banar Rd, Prem Nagar, Jodhpur, Rajasthan 342027</p>
   <p><b>Prize:</b> ₹5400</p>
   <p><b>Faculities included:</b></p>
   <p>free wifi   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; outdoor pool  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; free parking &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" style="background-color: #4169E1; height: 120pxpx; width: 180px; font-size: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Book now</button></p>
   <img src="{% static '/images/gallary/free-wifi (1).png' %}"alt="package-place" height="50px" width="50px">
   
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<img src="{% static '/images/gallary/swimming (1).png' %}"alt="package-place" height="50px" width="50px">
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<img src="{% static '/images/gallary/free-parking.png' %}"alt="package-place" height="50px" width="50px">
   
  </div>

  <!--<div style="width: 25%; float:left; margin: 5px; background-color:#bdd5ea; height:  300px; width:1450px; margin-top:15px;">B</div>
  <div style="width: 25%; float:left; margin: 5px; background-color:#e2fdff;height: 300px; width:1450px; margin-top:15px; ">C</div>
  <div style="width: 25%; float:left; margin: 5px; background-color:#bdd5ea;height: 300px; width:1450px; margin-top:15px;">D</div>-->
